/* Hero Sektion */
.hero {
  background-image: url("../assets/hero_billede.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  text-align: left;
}

.hero-content {
  max-width: 90%;
  padding: 1rem;
  z-index: 2;
  text-align: left;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.hero-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #fff;
}

.hero-button {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* Info Sektion */
.info-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
}

.info-box {
  flex: 1;
  height: 6rem;
  padding: 1rem;
  background-color: rgba(29, 40, 14, 0.5);
  color: #fff;
  text-align: left;
  font-size: 1rem;
  font-family: hind;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: height 0.3s ease, background-color 0.3s ease; /* Glidende overgang */
}

.info-box:first-child:hover,
.info-box:last-child:hover {
  height: 8rem;
  background-color: rgba(29, 40, 14, 0.8);
}

.info-box:first-child,
.info-box:last-child {
  align-self: flex-end; /* Sørger for, at begge bokse starter fra bunden */
}

.info-box p {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Hind", sans-serif;
  color: #fff;
}

@media (min-width: 768px) {
  .info-section {
    flex-direction: row;
    gap: 0.2rem;
    padding: 0 0.2rem;
  }

  .info-box {
    height: 7rem;
  }
}
