#produkter_grid {
  padding-top: 80px;
  display: grid;
  grid-column: 1fr;
  grid-row: 3;
}

#din_komplette_sektion {
  display: grid;
  grid-column: 1fr;
  grid-row: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

#lyseblå_box_1 {
  background-color: #ecf7ff;
  margin-top: 64px;
  width: 100%;
  height: 220px;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

#din_komplette_grid {
  display: grid;
  z-index: 10;
  grid-column: 1/2;
  grid-row: 1/2;
  h1 {
    justify-self: center;
    padding: 40px 30px 30px 30px;
  }
  p {
    justify-self: center;
    padding: 0px 30px 40px 30px;
  }

  a {
    justify-self: center;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }
}

#cta_knapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 30px 0px 30px;
}

#webshop_cta,
#kontakt_os_cta {
  font-size: 13px;
  font-family: Hind;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
  padding: 10px 35px 8px 35px;
  border-radius: 30px;
  text-decoration: none;
}

#webshop_cta {
  background-color: #0069c5;
}

#kontakt_os_cta {
  background-color: #71b8f5;
}

#reco_sektion {
  display: grid;
  grid-column: 1fr;
  grid-row: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

#lyseblå_box_2 {
  background-color: #d4e9fa;
  margin-top: 460px;
  width: 100%;
  height: 170px;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

#reco_grid {
  display: grid;
  z-index: 10;
  grid-column: 1/2;
  grid-row: 1/2;
  h2 {
    justify-self: center;
    padding: 40px 30px 30px 30px;
  }
  p {
    justify-self: center;
    padding: 0px 30px 40px 30px;
  }

  img {
    width: 100%;
  }
}

#hvad_er_det,
#som_ny {
  display: grid;
}

#lonreco_sektion {
  display: grid;
  grid-column: 1fr;
  grid-row: 1;
  grid-column: 1/2;
  grid-row: 3/4;
}

#lyseblå_box_3 {
  background-color: #f4faff;
  margin-top: 360px;
  width: 100%;
  height: 170px;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 60px;
}

#lonreco_grid {
  display: grid;
  z-index: 10;
  grid-column: 1/2;
  grid-row: 1/2;
  h2 {
    justify-self: center;
    padding: 40px 30px 30px 30px;
  }
  p {
    justify-self: center;
    padding: 0px 30px 40px 30px;
  }

  img {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  #din_komplette_grid,
  #reco_grid,
  #lonreco_grid {
    h1 {
      font-size: 8.8cqw;
    }
    h2 {
      font-size: 7.8cqw;
    }

    p {
      font-size: 3.7cqw;
    }
  }
}

@media (min-width: 400px) {
  .max_bredde {
    max-width: 400px;
    justify-self: center;
  }
}

.max_bredde {
  display: grid;
  max-width: 400px;
  justify-self: center;
}
