/* hero sektion */
.lottiefile_grid {
  padding-top: 80px;
  position: relative;
}
.lottie_h1 {
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.som_skaber_værdi_sektion {
  margin-left: 20px;
  margin-right: 20px;
}

.som_skaber_værdi_sektion h1 {
  margin-bottom: 40px;
}

.som_skaber_værdi_sektion p {
  margin-bottom: 20px;
}

/* knap */
.button {
  display: inline-block;
  background-color: rgba(0, 105, 197, 1);
  color: white;
  padding: 0.8rem 2.6rem;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  transition: background-color 0.3s ease;
  margin-bottom: 60px;
}

.button:hover {
  background-color: rgba(113, 184, 245, 1);
}

.emballagelosninger_sektion {
  background-color: rgba(226, 240, 250, 1);
}

.emballagelosninger_sektion h2 {
  margin-left: 40px;
  margin-left: 40px;
  padding-top: 20px;
}

.service_front {
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 30px;
  margin: 50px;
}

.service_front h3 {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.service_front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  background-size: cover;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
  padding: 20px;
  margin: 50px;
}

.indsamling,
.genbrug,
.handel,
.recycling {
  position: relative;
  overflow: hidden;
}

.indsamling:hover .service_hover,
.genbrug:hover .service_hover,
.handel:hover .service_hover,
.recycling:hover .service_hover {
  opacity: 1;
}

.hvad_siger_andre_sektion {
  margin-bottom: 50px;
}
.lagerhus_img {
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.hvad_siger_andre_grid h4 {
  font-size: 12px;
  color: #0c315cc4;
  padding-top: 20px;
  margin-bottom: 20px;
}

.hvad_siger_andre_grid h2 {
  margin-bottom: 30px;
}

.review_overskrift {
  margin-left: 30px;
  margin-right: 30px;
}

.brenntag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
  padding: 30px;
  background-color: rgba(244, 250, 255, 1);
}
.brenntag img {
  width: 75%;
  place-self: center right;
}

.brenntag h3 {
  font-style: oblique;
  font-weight: 500;
}

.esti {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background-color: rgba(195, 224, 195, 1);
}
.esti img {
  width: 80%;
  place-self: center;
  place-self: center left;
}

.esti h3 {
  font-style: oblique;
  font-weight: 500;
}

.review_list {
  font-family: Hind;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
  color: #0c315cc4;
  list-style: none;
}

@media (min-width: 768px) {
  /* ting der skal på når den er i computer tilstand */

  .lottie_h1 {
    color: white;
    position: absolute;
    bottom: 1vw;
    max-width: 85vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .som_skaber_værdi_sektion {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .som_skaber_værdi_sektion p {
    max-width: 450px;
  }

  .emballagelosninger_sektion h2 {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 40px;
  }

  .emballagelosninger_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    padding-top: 3vw;
  }

  .service_front {
    margin: 0px;
  }

  .service_hover {
    margin: 0px;
  }

  .hvad_siger_andre_sektion {
    margin-top: 100px;
  }

  .hvad_siger_andre_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .lyseblå_firkant {
    width: 40%;
    height: 1000px;
    background-color: rgba(244, 250, 255, 1);
    position: absolute;
    left: 46%;

    z-index: -1;
  }

  .hvad_siger_andre_grid h4 {
    padding-top: 40px;
  }

  .hvad_siger_andre_grid h2 {
    font-size: 56px;
    margin-bottom: 30px;
  }

  .review_overskrift {
    margin-left: 0px;
  }

  .lagerhus_img {
    height: auto;
    padding-top: 35px;
    object-fit: cover;
  }

  .hvad_siger_andre_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .brenntag {
    order: 1;
  }

  .esti {
    margin-top: 75px;
  }

  .brenntag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0);
  }

  .esti {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0);
  }

  .tekstbox_1 {
    grid-column: 1 / span 3;
    padding-right: 50px;
    padding: 30px;
    padding-left: 0px;
    margin: 0px;
  }

  .tekstbox_2 {
    grid-column: 2 / span 3;
    background-color: rgba(195, 224, 195, 1);
    padding: 30px;
    padding-left: 50px;
    margin: 0px;
  }

  .brenntag img {
    width: 12vw;
    place-self: center left;
    position: relative;
    right: 20px;
  }
  .esti img {
    width: 12vw;
    place-self: center right;
    position: relative;
    left: 20px;
  }
}
